@use "variables" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: $color-fondo;
    color: $color-texto;
    line-height: 1.6;
}

.container {
    width: 90%;
    max-width: $contenedor-maximo;
    margin: auto;
}

h1 {
    margin-bottom: 10px;
}

h2 {
    color: $color-secundario;
    margin-bottom: 15px;
}

img {
    width: 90%;
    max-width: 250px;
    display: block;
    margin: 15px auto;
    border-radius: 10px;
    height: auto;
}

/* BODY */

body {

    font-family: 'Poppins', sans-serif;

    background-color: #f8f9fc;

    color: #333;

    line-height: 1.7;
}


/* CONTAINER */

.container {

    width: 90%;

    max-width: 1200px;

    margin: auto;
}